# Those are #!'s customizations
[push]
        default = simple
[hub]
        protocol = https

# Recap Time Squad's customizations here below this line.
# Since it will be accessed by the crew, we'll generalize things behind
# the scenes instead of by default pointing to @ajhalili2006.
[user]
        name = "Recap Time Squad Crew"
        email = "squad@crew.recaptime.dev"